openapi: 3.0.0
info:
  title: CPM Registry
  version: 0.0.3
  description: API for the CPM Registry, used by the Chung Package Manager (cpm)
    to host and distribute ComputerCraft-focused Lua packages.
servers:
  - url: https://registry.cpm.chungindustries.com
tags:
  - name: Packages
    description: Endpoints for browsing and retrieving cpm packages.
  - name: Bootstrap
    description: Getting cpm onto a fresh computer.
  - name: Account
    description: The authenticated user and their packages.
components:
  securitySchemes:
    publishToken:
      type: http
      scheme: bearer
      description: "A cpm publish token, created from the registry account page. Send
        as `Authorization: Bearer cpm_...`"
  schemas:
    Package:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        author:
          type: string
          example: chungindustries
        dist-tags:
          $ref: "#/components/schemas/DistTags"
        versions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PackageVersion"
          example:
            1.0.0:
              name: example
              author: chungindustries
              version: 1.0.0
              dependencies:
                cc-http: ^1.2.0
              dist: &a1
                tarball:
                  url: /packages/example/1.0.0/dist/tarball
                  shasum: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
                  integrity: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
                bundle:
                  url: /packages/example/1.0.0/dist/bundle
                  sha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
                  size: 4096
      required:
        - name
        - dist-tags
        - versions
      additionalProperties: false
    DistTags:
      type: object
      properties:
        latest:
          type: string
          example: 1.0.0
          description: Semantic version string
      required:
        - latest
      additionalProperties:
        type: string
        example: 1.0.0
        description: Semantic version string
      example:
        latest: 1.0.0
      description: Distribution tags mapping tag names to versions
    PackageVersion:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        version:
          type: string
          example: 1.0.0
          description: Semantic version string
        author:
          type: string
          example: chungindustries
        dependencies:
          type: object
          additionalProperties:
            type: string
            example: ^1.2.0
            description: Semantic version range string
          example:
            cc-http: ^1.2.0
          description: Dependency map of package name to semver range
        startup:
          type: string
          minLength: 1
          example: startup.lua
          description: Path, relative to the package root, of a Lua file the client runs
            at computer startup
        dist:
          type: object
          properties:
            tarball:
              type: object
              properties:
                url:
                  type: string
                  example: /packages/example/1.0.0/dist/tarball
                  description: Tarball path
                shasum:
                  type: string
                  pattern: ^[a-f0-9]{40}$
                  example: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
                  description: SHA-1 hex digest of the tarball
                integrity:
                  type: string
                  pattern: ^sha512-[A-Za-z0-9+/]+={0,2}$
                  example: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
                  description: Subresource Integrity (SRI) sha512 digest of the tarball
              required:
                - url
                - shasum
                - integrity
              additionalProperties: false
              description: "The publish artifact: a gzipped tar of the package files"
            bundle:
              type: object
              properties:
                url:
                  type: string
                  example: /packages/example/1.0.0/dist/bundle
                  description: "Bundle path: the artifact the in-game cpm client downloads"
                sha256:
                  type: string
                  pattern: ^[a-f0-9]{64}$
                  example: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
                  description: Hex SHA-256 digest of the bundle bytes
                size:
                  type: integer
                  minimum: 0
                  example: 4096
                  description: Bundle size in bytes (before wire compression)
              required:
                - url
                - sha256
                - size
              additionalProperties: false
              description: "The derived install artifact: a length-prefixed JSON manifest plus
                raw file bytes"
          required:
            - tarball
            - bundle
          additionalProperties: false
          description: Distribution artifacts, one entry per artifact kind
      required:
        - name
        - version
        - dist
      additionalProperties: false
      example:
        name: example
        author: chungindustries
        version: 1.0.0
        dependencies:
          cc-http: ^1.2.0
        dist: *a1
    ResolveRequest:
      type: object
      properties:
        dependencies:
          type: object
          additionalProperties:
            type: string
            minLength: 1
            example: ^1.2.0
            description: Semver range, exact version, or dist-tag
          example:
            example: ^1.2.0
            cc-http: latest
      required:
        - dependencies
      additionalProperties: false
    Actor:
      type: object
      properties:
        userId:
          type: string
        via:
          type: string
          enum:
            - token
            - session
        scopes:
          type: array
          items:
            type: string
            enum:
              - publish
              - manage
              - admin
      required:
        - userId
        - via
        - scopes
  parameters: {}
paths:
  /packages:
    get:
      tags:
        - Packages
      summary: List packages
      description: Returns all CPM packages in the registry.
      responses:
        "200":
          description: All packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: "#/components/schemas/Package"
                    required:
                      - packages
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
    post:
      tags:
        - Packages
      summary: Publish package version
      description: "Creates a package if missing, or adds a new version to an existing
        one. Requires a publish token (`Authorization: Bearer cpm_...`); the
        first authenticated publish of a new name claims ownership, and later
        versions may only be published by its maintainers. Published versions
        are immutable: re-publishing an existing version returns 409. Send the
        tarball file as `tarball` in multipart/form-data; the `cpm.json` at the
        tarball root is the package metadata. The tarball must be a gzipped tar
        of the package files at its root (no wrapping directory), with relative
        forward-slash paths, at most 5 MiB compressed (rejected with 413 above
        that) and 512 KiB extracted; the registry derives the client-facing
        bundle from it."
      security:
        - publishToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                tarball:
                  type: string
                  format: binary
                  description: gzipped tarball bytes
      responses:
        "201":
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "403":
          description: Not allowed to publish this package
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "409":
          description: Version already published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "413":
          description: Tarball too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}:
    get:
      tags:
        - Packages
      summary: Get package
      description: Returns the CPM package entry for the given package name.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
      responses:
        "200":
          description: The package
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}:
    get:
      tags:
        - Packages
      summary: Get package version
      description: Returns the specific version entry for the given package.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: The version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/PackageVersion"
                required:
                  - status
                  - data
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or version not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}/dist/tarball:
    get:
      tags:
        - Packages
      summary: Download tarball
      description: Returns the gzipped tarball bytes for a specific package version.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: Tarball bytes
          content:
            application/gzip:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}/dist/bundle:
    get:
      tags:
        - Packages
      summary: Download bundle
      description: "Returns the bundle for a specific package version: the artifact
        the in-game cpm client installs from. Format: `<manifest byte
        length>\\n<minified manifest JSON><raw concatenated file bytes>`, where
        the manifest is `{ name, version, files: [{ path, offset, length }] }`
        with offsets relative to the first byte after the manifest. Served
        gzip-encoded on the wire to clients that send `Accept-Encoding: gzip`;
        `dist.bundle.sha256` is the SHA-256 of the decoded bytes."
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: Bundle bytes
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /resolve:
    post:
      tags:
        - Packages
      summary: Resolve dependencies
      description: "Pins one version per package for the given root dependencies and
        their transitive dependencies. Each spec may be a semver range, an exact
        version, or a dist-tag. Every requester of a package must agree on a
        single version (the client installs into a flat store): the highest
        version satisfying all requested ranges is chosen, and unsatisfiable
        combinations fail. Results are ordered dependencies-first."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveRequest"
      responses:
        "200":
          description: Pinned packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: "#/components/schemas/PackageVersion"
                    required:
                      - packages
                required:
                  - status
                  - data
        "400":
          description: Invalid request or unsatisfiable dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /install:
    get:
      tags:
        - Bootstrap
      summary: Bootstrap installer
      description: "Serves the cpm bootstrap installer as plain Lua, taken from the
        latest published `cpm` package. On a fresh CC:Tweaked computer run:
        `wget run https://registry.cpm.chungindustries.com/install`."
      responses:
        "200":
          description: Installer Lua source
          content:
            text/plain:
              schema:
                type: string
                example: -- cpm installer
        "404":
          description: cpm has not been published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /me:
    get:
      tags:
        - Account
      summary: Who am I
      description: "Returns the authenticated identity behind the supplied credential:
        a publish token (`Authorization: Bearer cpm_...`) or a browser session.
        Useful as a token smoke test in CI and tooling."
      security:
        - publishToken: []
      responses:
        "200":
          description: The authenticated actor
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Actor"
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /me/packages:
    get:
      tags:
        - Account
      summary: List my packages
      description: Returns the packages the authenticated user owns or maintains.
      security:
        - publishToken: []
      responses:
        "200":
          description: Maintained packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            role:
                              type: string
                              enum:
                                - owner
                                - maintainer
                          required:
                            - name
                            - role
                    required:
                      - packages
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
