openapi: 3.0.0
info:
  title: CPM Registry
  version: 0.0.0-development
  description: API for the CPM Registry, used by the Chung Package Manager (cpm)
    to host and distribute ComputerCraft-focused Lua packages.
servers:
  - url: https://registry.cpm.chungindustries.com
tags:
  - name: Packages
    description: Endpoints for browsing and retrieving cpm packages.
components:
  schemas:
    Package:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9._-]+$
          example: example
        author:
          type: string
          example: chungindustries
        dist-tags:
          $ref: "#/components/schemas/DistTags"
        versions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PackageVersion"
          example:
            1.0.0:
              name: example
              author: chungindustries
              version: 1.0.0
              dependencies:
                cc-http: ^1.2.0
              dist:
                tarball: https://registry.cpm.chungindustries.com/packages/example/1.0.0/dist/tarball
                shasum: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
                integrity: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
      required:
        - name
        - dist-tags
        - versions
      additionalProperties: false
    DistTags:
      type: object
      properties:
        latest:
          type: string
          example: 1.0.0
          description: Semantic version string
      required:
        - latest
      additionalProperties:
        type: string
        example: 1.0.0
        description: Semantic version string
      example:
        latest: 1.0.0
      description: Distribution tags mapping tag names to versions (npm-compatible)
    PackageVersion:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9._-]+$
          example: example
        version:
          type: string
          example: 1.0.0
          description: Semantic version string
        author:
          type: string
          example: chungindustries
        dependencies:
          type: object
          additionalProperties:
            type: string
            example: ^1.2.0
            description: Semantic version range string
          example:
            cc-http: ^1.2.0
          description: Dependency map of package name to semver range
        dist:
          type: object
          properties:
            tarball:
              type: string
              example: /packages/example/1.0.0/dist/tarball
              description: Tarball path
            shasum:
              type: string
              pattern: ^[a-f0-9]{40}$
              example: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
              description: SHA-1 hex digest of the tarball (npm-compatible)
            integrity:
              type: string
              pattern: ^sha512-[A-Za-z0-9+/]+={0,2}$
              example: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
              description: Subresource Integrity (SRI) sha512 digest of the tarball
          required:
            - tarball
            - shasum
            - integrity
          additionalProperties: false
          description: Distribution info
      required:
        - name
        - version
        - dist
      additionalProperties: false
      example:
        name: example
        author: chungindustries
        version: 1.0.0
        dependencies:
          cc-http: ^1.2.0
        dist:
          tarball: https://registry.cpm.chungindustries.com/packages/example/1.0.0/dist/tarball
          shasum: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
          integrity: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
  parameters: {}
paths:
  /packages:
    get:
      tags:
        - Packages
      summary: List packages
      description: Returns all CPM packages in the registry.
      responses:
        "200":
          description: All packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: "#/components/schemas/Package"
                    required:
                      - packages
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
    post:
      tags:
        - Packages
      summary: Publish package version
      description: "Creates a package if missing, or adds a new version to an existing
        one. Published versions are immutable: re-publishing an existing version
        returns 409. Send metadata JSON as `meta` plus the tarball file as
        `tarball` in multipart/form-data."
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                meta:
                  type: string
                  description: Package version metadata as a JSON string
                  example: '{"name":"example","version":"1.0.0"}'
                tarball:
                  type: string
                  format: binary
                  description: gzipped tarball bytes
              required:
                - meta
      responses:
        "201":
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "409":
          description: Version already published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}:
    get:
      tags:
        - Packages
      summary: Get package
      description: Returns the CPM package entry for the given package name.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
      responses:
        "200":
          description: The package
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}:
    get:
      tags:
        - Packages
      summary: Get package version
      description: Returns the specific version entry for the given package.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: The version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/PackageVersion"
                required:
                  - status
                  - data
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or version not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}/dist/tarball:
    get:
      tags:
        - Packages
      summary: Download tarball
      description: Returns the gzipped tarball bytes for a specific package version.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: Tarball bytes
          content:
            application/gzip:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
