openapi: 3.0.0
info:
  title: CPM Registry
  version: 0.0.7
  description: API for the CPM Registry, used by the Chung Package Manager (cpm)
    to host and distribute ComputerCraft-focused Lua packages.
servers:
  - url: https://registry.cpm.chungindustries.com
tags:
  - name: Packages
    description: Endpoints for browsing and retrieving cpm packages.
  - name: Maintainers
    description: Who may publish a package, managed by its owner.
  - name: Bootstrap
    description: Getting cpm onto a fresh computer.
  - name: Account
    description: The authenticated user and their packages.
components:
  securitySchemes:
    publishToken:
      type: http
      scheme: bearer
      description: "A cpm publish token, created from the account page at
        https://cpm.chungindustries.com/account. Send as `Authorization: Bearer
        cpm_...`"
  schemas:
    Package:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        author:
          type: string
          example: chungindustries
        createdAt:
          type: string
          format: date-time
          example: 2026-01-15T12:00:00.000Z
          description: First-publish timestamp, ISO 8601 UTC
        dist-tags:
          $ref: "#/components/schemas/DistTags"
        versions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PackageVersion"
          example:
            1.0.0:
              name: example
              description: Example utilities for CC:Tweaked computers
              author: chungindustries
              version: 1.0.0
              dependencies:
                cc-http: ^1.2.0
              dist: &a1
                tarball:
                  url: /packages/example/1.0.0/dist/tarball
                  shasum: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
                  integrity: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
                bundle:
                  url: /packages/example/1.0.0/dist/bundle
                  sha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
                  size: 4096
              createdAt: 2026-01-15T12:00:00.000Z
      required:
        - name
        - createdAt
        - dist-tags
        - versions
      additionalProperties: false
    DistTags:
      type: object
      properties:
        latest:
          type: string
          example: 1.0.0
          description: Semantic version string
      required:
        - latest
      additionalProperties:
        type: string
        example: 1.0.0
        description: Semantic version string
      example:
        latest: 1.0.0
      description: Distribution tags mapping tag names to versions
    PackageVersion:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        version:
          type: string
          example: 1.0.0
          description: Semantic version string
        description:
          type: string
          minLength: 1
          maxLength: 1024
          example: Example utilities for CC:Tweaked computers
          description: Short user-facing summary of what the package does
        author:
          type: string
          example: chungindustries
        dependencies:
          type: object
          additionalProperties:
            type: string
            example: ^1.2.0
            description: Semantic version range string
          example:
            cc-http: ^1.2.0
          description: Dependency map of package name to semver range
        startup:
          type: string
          minLength: 1
          example: startup.lua
          description: Path, relative to the package root, of a Lua file the client runs
            at computer startup
        dist:
          type: object
          properties:
            tarball:
              type: object
              properties:
                url:
                  type: string
                  example: /packages/example/1.0.0/dist/tarball
                  description: Tarball path
                shasum:
                  type: string
                  pattern: ^[a-f0-9]{40}$
                  example: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
                  description: SHA-1 hex digest of the tarball
                integrity:
                  type: string
                  pattern: ^sha512-[A-Za-z0-9+/]+={0,2}$
                  example: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
                  description: Subresource Integrity (SRI) sha512 digest of the tarball
              required:
                - url
                - shasum
                - integrity
              additionalProperties: false
              description: "The publish artifact: a gzipped tar of the package files"
            bundle:
              type: object
              properties:
                url:
                  type: string
                  example: /packages/example/1.0.0/dist/bundle
                  description: "Bundle path: the artifact the in-game cpm client downloads"
                sha256:
                  type: string
                  pattern: ^[a-f0-9]{64}$
                  example: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
                  description: Hex SHA-256 digest of the bundle bytes
                size:
                  type: integer
                  minimum: 0
                  example: 4096
                  description: Bundle size in bytes (before wire compression)
              required:
                - url
                - sha256
                - size
              additionalProperties: false
              description: "The derived install artifact: a length-prefixed JSON manifest plus
                raw file bytes"
          required:
            - tarball
            - bundle
          additionalProperties: false
          description: Distribution artifacts, one entry per artifact kind
        createdAt:
          type: string
          format: date-time
          example: 2026-01-15T12:00:00.000Z
          description: Publish timestamp, ISO 8601 UTC
      required:
        - name
        - version
        - dist
        - createdAt
      additionalProperties: false
      example:
        name: example
        description: Example utilities for CC:Tweaked computers
        author: chungindustries
        version: 1.0.0
        dependencies:
          cc-http: ^1.2.0
        dist: *a1
        createdAt: 2026-01-15T12:00:00.000Z
    SearchResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/PackageSummary"
          description: The requested page of matches
        total:
          type: integer
          minimum: 0
          example: 1
          description: Number of matches across all pages
      required:
        - results
        - total
      additionalProperties: false
    PackageSummary:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        author:
          type: string
          example: chungindustries
        description:
          type: string
          minLength: 1
          maxLength: 1024
          example: Example utilities for CC:Tweaked computers
          description: Short user-facing summary of what the package does
        version:
          type: string
          example: 1.0.0
          description: The version `dist-tags.latest` points at
        versionCount:
          type: integer
          minimum: 0
          exclusiveMinimum: true
          example: 3
          description: Number of published versions
        publishedAt:
          type: string
          format: date-time
          example: 2026-01-15T12:00:00.000Z
          description: Publish timestamp of the latest version, ISO 8601 UTC
      required:
        - name
        - version
        - versionCount
        - publishedAt
      additionalProperties: false
      example:
        name: example
        author: chungindustries
        description: Example utilities for CC:Tweaked computers
        version: 1.0.0
        versionCount: 3
        publishedAt: 2026-01-15T12:00:00.000Z
    Maintainers:
      type: object
      properties:
        maintainers:
          type: array
          items:
            $ref: "#/components/schemas/Maintainer"
          description: The owner first, then maintainers in the order added
      required:
        - maintainers
      additionalProperties: false
    Maintainer:
      type: object
      properties:
        userId:
          type: string
          example: kq3vw7s5q1m9e8x2c4n6b0z1a7y5r3t9
          description: Stable account id, the key `package_maintainers` references
        handle:
          type: string
          pattern: ^[a-zA-Z0-9](?:-?[a-zA-Z0-9]){0,38}$
          example: octocat
          description: Absent only for accounts created before handles existed
        role:
          type: string
          enum:
            - owner
            - maintainer
          description: Exactly one maintainer is the `owner`, who alone may change the
            maintainer list
      required:
        - userId
        - role
      additionalProperties: false
      example:
        userId: kq3vw7s5q1m9e8x2c4n6b0z1a7y5r3t9
        handle: octocat
        role: owner
    ResolveRequest:
      type: object
      properties:
        dependencies:
          type: object
          additionalProperties:
            type: string
            minLength: 1
            example: ^1.2.0
            description: Semver range, exact version, or dist-tag
          example:
            example: ^1.2.0
            cc-http: latest
      required:
        - dependencies
      additionalProperties: false
    Actor:
      type: object
      properties:
        userId:
          type: string
        via:
          type: string
          enum:
            - token
            - session
        scopes:
          type: array
          items:
            type: string
            enum:
              - publish
              - manage
              - admin
      required:
        - userId
        - via
        - scopes
  parameters: {}
paths:
  /packages:
    get:
      tags:
        - Packages
      summary: List packages
      description: Returns all CPM packages in the registry.
      responses:
        "200":
          description: All packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: "#/components/schemas/Package"
                    required:
                      - packages
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
    post:
      tags:
        - Packages
      summary: Publish package version
      description: "Creates a package if missing, or adds a new version to an existing
        one. Requires a publish token (`Authorization: Bearer cpm_...`); the
        first authenticated publish of a new name claims ownership, and later
        versions may only be published by its maintainers. Published versions
        are immutable: re-publishing an existing version returns 409. Send the
        tarball file as `tarball` in multipart/form-data; the `cpm.json` at the
        tarball root is the package metadata. The tarball must be a gzipped tar
        of the package files at its root (no wrapping directory), with relative
        forward-slash paths, at most 5 MiB compressed (rejected with 413 above
        that) and 512 KiB extracted; the registry derives the client-facing
        bundle from it."
      security:
        - publishToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                tarball:
                  type: string
                  format: binary
                  description: gzipped tarball bytes
      responses:
        "201":
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "403":
          description: Not allowed to publish this package
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "409":
          description: Version already published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "413":
          description: Tarball too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /search:
    get:
      tags:
        - Packages
      summary: Search packages
      description: Searches the registry by package name, author, and description
        (case-insensitive substring match), returning one summary per matching
        package instead of the full package document. Results are ranked with
        exact name matches first, then name prefixes, then other name matches,
        then author or description matches, ties broken by name. An empty or
        omitted `q` matches every package, so this also serves as the paginated
        index. Page with `limit` and `offset`; `total` counts matches across all
        pages.
      parameters:
        - schema:
            type: string
            default: ""
            example: http
            description: Text to match against package names, authors, and descriptions.
              Empty or omitted matches every package
          required: false
          description: Text to match against package names, authors, and descriptions.
            Empty or omitted matches every package
          name: q
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
            description: Page size, at most 100
          required: false
          description: Page size, at most 100
          name: limit
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            example: 0
            description: Number of matches to skip
          required: false
          description: Number of matches to skip
          name: offset
          in: query
      responses:
        "200":
          description: Matching packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/SearchResults"
                required:
                  - status
                  - data
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}:
    get:
      tags:
        - Packages
      summary: Get package
      description: Returns the CPM package entry for the given package name.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
      responses:
        "200":
          description: The package
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/maintainers:
    get:
      tags:
        - Maintainers
      summary: List maintainers
      description: "Returns who may publish the package: its single owner first, then
        the maintainers in the order they were added. Public, like the package
        itself."
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
      responses:
        "200":
          description: The maintainers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Maintainers"
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/maintainers/{handle}:
    put:
      tags:
        - Maintainers
      summary: Add maintainer
      description: "Adds the account with the given handle as a maintainer, letting
        them publish new versions. Only the package owner may call this, with a
        browser session or a token holding the `manage` scope. Handles are
        GitHub logins, matched case-insensitively, and the account must already
        exist. Idempotent: re-adding a maintainer, or the owner, changes
        nothing. Returns the updated list."
      security:
        - publishToken: []
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            pattern: ^[a-zA-Z0-9](?:-?[a-zA-Z0-9]){0,38}$
            example: octocat
            description: "The account's handle: its GitHub login at signup, matched
              case-insensitively"
          required: true
          description: "The account's handle: its GitHub login at signup, matched
            case-insensitively"
          name: handle
          in: path
      responses:
        "200":
          description: The updated maintainers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Maintainers"
                required:
                  - status
                  - data
        "400":
          description: Invalid handle
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "403":
          description: Not the package owner, or missing the manage scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or account not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
    delete:
      tags:
        - Maintainers
      summary: Remove maintainer
      description: "Removes the account with the given handle from the maintainers, so
        they can no longer publish. Only the package owner may call this, with a
        browser session or a token holding the `manage` scope. The owner cannot
        be removed: changing who owns a package is an ownership transfer.
        Returns the updated list."
      security:
        - publishToken: []
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            pattern: ^[a-zA-Z0-9](?:-?[a-zA-Z0-9]){0,38}$
            example: octocat
            description: "The account's handle: its GitHub login at signup, matched
              case-insensitively"
          required: true
          description: "The account's handle: its GitHub login at signup, matched
            case-insensitively"
          name: handle
          in: path
      responses:
        "200":
          description: The updated maintainers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Maintainers"
                required:
                  - status
                  - data
        "400":
          description: Invalid handle, or the handle is the owner's
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "403":
          description: Not the package owner, or missing the manage scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or account not found, or not a maintainer
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}:
    get:
      tags:
        - Packages
      summary: Get package version
      description: Returns the specific version entry for the given package.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: The version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/PackageVersion"
                required:
                  - status
                  - data
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or version not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}/dist/tarball:
    get:
      tags:
        - Packages
      summary: Download tarball
      description: Returns the gzipped tarball bytes for a specific package version.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: Tarball bytes
          content:
            application/gzip:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}/dist/bundle:
    get:
      tags:
        - Packages
      summary: Download bundle
      description: "Returns the bundle for a specific package version: the artifact
        the in-game cpm client installs from. Format: `<manifest byte
        length>\\n<minified manifest JSON><raw concatenated file bytes>`, where
        the manifest is `{ name, version, files: [{ path, offset, length }] }`
        with offsets relative to the first byte after the manifest. Served
        gzip-encoded on the wire to clients that send `Accept-Encoding: gzip`;
        `dist.bundle.sha256` is the SHA-256 of the decoded bytes."
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: Semantic version string
          required: true
          description: Semantic version string
          name: version
          in: path
      responses:
        "200":
          description: Bundle bytes
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /resolve:
    post:
      tags:
        - Packages
      summary: Resolve dependencies
      description: "Pins one version per package for the given root dependencies and
        their transitive dependencies. Each spec may be a semver range, an exact
        version, or a dist-tag. Every requester of a package must agree on a
        single version (the client installs into a flat store): the highest
        version satisfying all requested ranges is chosen, and unsatisfiable
        combinations fail. Results are ordered dependencies-first."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveRequest"
      responses:
        "200":
          description: Pinned packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: "#/components/schemas/PackageVersion"
                    required:
                      - packages
                required:
                  - status
                  - data
        "400":
          description: Invalid request or unsatisfiable dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /install:
    get:
      tags:
        - Bootstrap
      summary: Bootstrap installer
      description: "Serves the cpm bootstrap installer as plain Lua, taken from the
        latest published `cpm` package. On a fresh CC:Tweaked computer run:
        `wget run https://registry.cpm.chungindustries.com/install`."
      responses:
        "200":
          description: Installer Lua source
          content:
            text/plain:
              schema:
                type: string
                example: -- cpm installer
        "404":
          description: cpm has not been published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /me:
    get:
      tags:
        - Account
      summary: Who am I
      description: "Returns the authenticated identity behind the supplied credential:
        a publish token (`Authorization: Bearer cpm_...`) or a browser session.
        Useful as a token smoke test in CI and tooling."
      security:
        - publishToken: []
      responses:
        "200":
          description: The authenticated actor
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Actor"
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /me/packages:
    get:
      tags:
        - Account
      summary: List my packages
      description: Returns the packages the authenticated user owns or maintains.
      security:
        - publishToken: []
      responses:
        "200":
          description: Maintained packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            role:
                              type: string
                              enum:
                                - owner
                                - maintainer
                          required:
                            - name
                            - role
                    required:
                      - packages
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
