openapi: 3.0.0
info:
  title: CPM Registry
  version: 0.0.8
  description: "The registry behind the Chung Package Manager (cpm): where Lua
    packages for ComputerCraft are published, browsed, and installed from."
servers:
  - url: https://registry.cpm.chungindustries.com
tags:
  - name: Packages
    description: Browsing, downloading, and publishing packages.
  - name: Maintainers
    description: Who may publish a package, managed by its owner.
  - name: Bootstrap
    description: Getting cpm onto a fresh computer.
  - name: Account
    description: The signed-in account and its packages.
components:
  securitySchemes:
    publishToken:
      type: http
      scheme: bearer
      description: "A publish token from your account page at
        https://cpm.chungindustries.com/account, sent as `Authorization: Bearer
        cpm_...`."
  schemas:
    Package:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        author:
          type: string
          example: chungindustries
        createdAt:
          type: string
          format: date-time
          example: 2026-01-15T12:00:00.000Z
          description: When the package was first published, as an ISO 8601 UTC timestamp
        dist-tags:
          $ref: "#/components/schemas/DistTags"
        versions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PackageVersion"
          example:
            1.0.0:
              name: example
              description: Example utilities for CC:Tweaked computers
              author: chungindustries
              version: 1.0.0
              dependencies:
                cc-http: ^1.2.0
              dist: &a1
                tarball:
                  url: /packages/example/1.0.0/dist/tarball
                  shasum: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
                  integrity: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
                bundle:
                  url: /packages/example/1.0.0/dist/bundle
                  sha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
                  size: 4096
              createdAt: 2026-01-15T12:00:00.000Z
      required:
        - name
        - createdAt
        - dist-tags
        - versions
      additionalProperties: false
    DistTags:
      type: object
      properties:
        latest:
          type: string
          example: 1.0.0
          description: A semantic version
      required:
        - latest
      additionalProperties:
        type: string
        example: 1.0.0
        description: A semantic version
      example:
        latest: 1.0.0
      description: Named pointers to versions; `latest` is always set
    PackageVersion:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        version:
          type: string
          example: 1.0.0
          description: A semantic version
        description:
          type: string
          minLength: 1
          maxLength: 1024
          example: Example utilities for CC:Tweaked computers
          description: What the package does, in a sentence or two
        author:
          type: string
          example: chungindustries
        dependencies:
          type: object
          additionalProperties:
            type: string
            example: ^1.2.0
            description: A semver range
          example:
            cc-http: ^1.2.0
          description: The packages this one needs, each with the semver range it accepts
        startup:
          type: string
          minLength: 1
          example: startup.lua
          description: A Lua file, relative to the package root, that the client runs when
            the computer boots
        dist:
          type: object
          properties:
            tarball:
              type: object
              properties:
                url:
                  type: string
                  example: /packages/example/1.0.0/dist/tarball
                  description: Where to download the tarball
                shasum:
                  type: string
                  pattern: ^[a-f0-9]{40}$
                  example: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
                  description: SHA-1 of the tarball, in hex
                integrity:
                  type: string
                  pattern: ^sha512-[A-Za-z0-9+/]+={0,2}$
                  example: sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==
                  description: Subresource Integrity (SRI) sha512 digest of the tarball
              required:
                - url
                - shasum
                - integrity
              additionalProperties: false
              description: "The tarball as it was published: a gzipped tar of the package
                files"
            bundle:
              type: object
              properties:
                url:
                  type: string
                  example: /packages/example/1.0.0/dist/bundle
                  description: Where to download the bundle, which is what the in-game cpm client
                    installs from
                sha256:
                  type: string
                  pattern: ^[a-f0-9]{64}$
                  example: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
                  description: SHA-256 of the bundle, in hex
                size:
                  type: integer
                  minimum: 0
                  example: 4096
                  description: Bundle size in bytes, before any gzip on the wire
              required:
                - url
                - sha256
                - size
              additionalProperties: false
              description: "The bundle built from the tarball: a length-prefixed manifest
                followed by the raw file bytes"
          required:
            - tarball
            - bundle
          additionalProperties: false
          description: The downloadable artifacts for this version
        createdAt:
          type: string
          format: date-time
          example: 2026-01-15T12:00:00.000Z
          description: When this version was published, as an ISO 8601 UTC timestamp
      required:
        - name
        - version
        - dist
        - createdAt
      additionalProperties: false
      example:
        name: example
        description: Example utilities for CC:Tweaked computers
        author: chungindustries
        version: 1.0.0
        dependencies:
          cc-http: ^1.2.0
        dist: *a1
        createdAt: 2026-01-15T12:00:00.000Z
    SearchResults:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/PackageSummary"
          description: The requested page of matches
        total:
          type: integer
          minimum: 0
          example: 1
          description: How many packages matched, across all pages
      required:
        - results
        - total
      additionalProperties: false
    PackageSummary:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          example: example
        author:
          type: string
          example: chungindustries
        description:
          type: string
          minLength: 1
          maxLength: 1024
          example: Example utilities for CC:Tweaked computers
          description: What the package does, in a sentence or two
        version:
          type: string
          example: 1.0.0
          description: The version `latest` points at
        versionCount:
          type: integer
          minimum: 0
          exclusiveMinimum: true
          example: 3
          description: How many versions have been published
        publishedAt:
          type: string
          format: date-time
          example: 2026-01-15T12:00:00.000Z
          description: When the latest version was published, as an ISO 8601 UTC timestamp
      required:
        - name
        - version
        - versionCount
        - publishedAt
      additionalProperties: false
      example:
        name: example
        author: chungindustries
        description: Example utilities for CC:Tweaked computers
        version: 1.0.0
        versionCount: 3
        publishedAt: 2026-01-15T12:00:00.000Z
    Maintainers:
      type: object
      properties:
        maintainers:
          type: array
          items:
            $ref: "#/components/schemas/Maintainer"
          description: The owner first, then everyone else in the order they were added
      required:
        - maintainers
      additionalProperties: false
    Maintainer:
      type: object
      properties:
        userId:
          type: string
          example: kq3vw7s5q1m9e8x2c4n6b0z1a7y5r3t9
          description: Stable account id
        handle:
          type: string
          pattern: ^[a-zA-Z0-9](?:-?[a-zA-Z0-9]){0,38}$
          example: octocat
          description: The account's handle, which is its GitHub login from when it signed
            up. Case-insensitive.
        role:
          type: string
          enum:
            - owner
            - maintainer
          description: Every package has exactly one `owner`, the only one who can add or
            remove maintainers
      required:
        - userId
        - handle
        - role
      additionalProperties: false
      example:
        userId: kq3vw7s5q1m9e8x2c4n6b0z1a7y5r3t9
        handle: octocat
        role: owner
    ResolveRequest:
      type: object
      properties:
        dependencies:
          type: object
          additionalProperties:
            type: string
            minLength: 1
            example: ^1.2.0
            description: Semver range, exact version, or dist-tag
          example:
            example: ^1.2.0
            cc-http: latest
      required:
        - dependencies
      additionalProperties: false
    Actor:
      type: object
      properties:
        userId:
          type: string
        via:
          type: string
          enum:
            - token
            - session
        scopes:
          type: array
          items:
            type: string
            enum:
              - publish
              - manage
              - admin
      required:
        - userId
        - via
        - scopes
  parameters: {}
paths:
  /packages:
    get:
      tags:
        - Packages
      summary: List packages
      description: Lists every package in the registry, each with all of its versions.
      responses:
        "200":
          description: All packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: "#/components/schemas/Package"
                    required:
                      - packages
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
    post:
      tags:
        - Packages
      summary: Publish package version
      description: "Publishes a version: creates the package if the name is new, or
        adds the version to an existing one. The first publish of a new name
        makes you its owner, and from then on only its maintainers can publish.
        The token needs the `publish` scope. Versions are immutable, so
        publishing an existing version again fails with 409. Send the tarball as
        the `tarball` field of a multipart form. It must be a gzipped tar with
        the package files at its root (no wrapping directory) and relative
        forward-slash paths, including the `cpm.json` that holds the package
        metadata, at most 5 MiB compressed (413 above that) and 512 KiB
        extracted. The registry builds the bundle the in-game client installs
        from it."
      security:
        - publishToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                tarball:
                  type: string
                  format: binary
                  description: The gzipped tarball
      responses:
        "201":
          description: Published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "403":
          description: Not a maintainer of this package, or missing the publish scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "409":
          description: Version already published
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "413":
          description: Tarball too large
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /search:
    get:
      tags:
        - Packages
      summary: Search packages
      description: Searches package names, authors, and descriptions for `q`
        (case-insensitive, anywhere in the text) and returns one summary per
        match instead of the full package. Exact name matches come first, then
        names starting with the query, then other name matches, then matches on
        author or description, with ties ordered by name. Leave `q` empty to
        page through every package. `limit` and `offset` pick the page, and
        `total` counts matches across all pages.
      parameters:
        - schema:
            type: string
            default: ""
            example: http
            description: Text to look for in package names, authors, and descriptions. Leave
              it empty to match every package
          required: false
          description: Text to look for in package names, authors, and descriptions. Leave
            it empty to match every package
          name: q
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
            description: Page size, at most 100
          required: false
          description: Page size, at most 100
          name: limit
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
            default: 0
            example: 0
            description: How many matches to skip
          required: false
          description: How many matches to skip
          name: offset
          in: query
      responses:
        "200":
          description: Matching packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/SearchResults"
                required:
                  - status
                  - data
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}:
    get:
      tags:
        - Packages
      summary: Get package
      description: Returns the package with all of its versions and dist-tags.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
      responses:
        "200":
          description: The package
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Package"
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/maintainers:
    get:
      tags:
        - Maintainers
      summary: List maintainers
      description: "Lists who maintains the package: the owner first, then everyone
        else in the order they were added."
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
      responses:
        "200":
          description: The maintainers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Maintainers"
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/maintainers/{handle}:
    put:
      tags:
        - Maintainers
      summary: Add maintainer
      description: Adds the account with this handle as a maintainer, so it can
        publish new versions. Only the owner can do this, and the credential
        needs the `manage` scope. Adding someone who already maintains the
        package does nothing. Responds with the updated list.
      security:
        - publishToken: []
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            pattern: ^[a-zA-Z0-9](?:-?[a-zA-Z0-9]){0,38}$
            example: octocat
            description: The account's handle, which is its GitHub login from when it signed
              up. Case-insensitive.
          required: true
          description: The account's handle, which is its GitHub login from when it signed
            up. Case-insensitive.
          name: handle
          in: path
      responses:
        "200":
          description: The updated maintainers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Maintainers"
                required:
                  - status
                  - data
        "400":
          description: Invalid handle
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "403":
          description: Not the package owner, or missing the manage scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or account not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
    delete:
      tags:
        - Maintainers
      summary: Remove maintainer
      description: Removes the account with this handle from the maintainers, so it
        can no longer publish. Only the owner can do this, and the credential
        needs the `manage` scope. The owner cannot be removed this way; to
        change who owns the package, transfer it instead. Responds with the
        updated list.
      security:
        - publishToken: []
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            pattern: ^[a-zA-Z0-9](?:-?[a-zA-Z0-9]){0,38}$
            example: octocat
            description: The account's handle, which is its GitHub login from when it signed
              up. Case-insensitive.
          required: true
          description: The account's handle, which is its GitHub login from when it signed
            up. Case-insensitive.
          name: handle
          in: path
      responses:
        "200":
          description: The updated maintainers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Maintainers"
                required:
                  - status
                  - data
        "400":
          description: Invalid handle, or the owner's handle
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "403":
          description: Not the package owner, or missing the manage scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or account not found, or not a maintainer
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}:
    get:
      tags:
        - Packages
      summary: Get package version
      description: Returns one version of the package.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: A semantic version
          required: true
          description: A semantic version
          name: version
          in: path
      responses:
        "200":
          description: The version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/PackageVersion"
                required:
                  - status
                  - data
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or version not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}/dist/tarball:
    get:
      tags:
        - Packages
      summary: Download tarball
      description: Downloads the gzipped tarball exactly as it was published for this
        version.
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: A semantic version
          required: true
          description: A semantic version
          name: version
          in: path
      responses:
        "200":
          description: The tarball
          content:
            application/gzip:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or version not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /packages/{name}/{version}/dist/bundle:
    get:
      tags:
        - Packages
      summary: Download bundle
      description: "Downloads the bundle for this version, which is what the in-game
        cpm client installs from. It starts with the manifest's byte length and
        a newline, then the minified manifest JSON, then the raw file bytes back
        to back. The manifest is `{ name, version, files: [{ path, offset,
        length }] }`, with offsets counted from the first byte after the
        manifest. Clients that send `Accept-Encoding: gzip` get it gzip-encoded
        on the wire; `dist.bundle.sha256` is the SHA-256 of the decoded bytes."
      parameters:
        - schema:
            type: string
            minLength: 1
            example: example
          required: true
          name: name
          in: path
        - schema:
            type: string
            example: 1.0.0
            description: A semantic version
          required: true
          description: A semantic version
          name: version
          in: path
      responses:
        "200":
          description: The bundle
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid version
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package or version not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /resolve:
    post:
      tags:
        - Packages
      summary: Resolve dependencies
      description: "Picks one version for each of the given dependencies and for
        everything they depend on in turn. Each spec can be a semver range, an
        exact version, or a dist-tag. The client installs into a flat store, so
        every package gets a single version: the highest one that satisfies
        everyone asking for it. If no version can, the request fails. The result
        lists dependencies before the packages that need them."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResolveRequest"
      responses:
        "200":
          description: Pinned packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: "#/components/schemas/PackageVersion"
                    required:
                      - packages
                required:
                  - status
                  - data
        "400":
          description: Invalid request or unsatisfiable dependencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "404":
          description: Package not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /install:
    get:
      tags:
        - Bootstrap
      summary: Bootstrap installer
      description: Serves the cpm installer as plain Lua, straight from the latest
        published `cpm` package. On a fresh CC:Tweaked computer, run `wget run
        https://registry.cpm.chungindustries.com/install`.
      responses:
        "200":
          description: The installer
          content:
            text/plain:
              schema:
                type: string
                example: -- cpm installer
        "404":
          description: cpm has not been published yet
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /me:
    get:
      tags:
        - Account
      summary: Who am I
      description: Tells you which account your publish token or browser session
        belongs to, and which scopes it holds. Handy for checking a token from
        CI.
      security:
        - publishToken: []
      responses:
        "200":
          description: Your account and scopes
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    $ref: "#/components/schemas/Actor"
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
  /me/packages:
    get:
      tags:
        - Account
      summary: List my packages
      description: Lists the packages you own or maintain.
      security:
        - publishToken: []
      responses:
        "200":
          description: Your packages
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            role:
                              type: string
                              enum:
                                - owner
                                - maintainer
                          required:
                            - name
                            - role
                    required:
                      - packages
                required:
                  - status
                  - data
        "401":
          description: Not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - fail
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        minLength: 1
                    required:
                      - message
                required:
                  - status
                  - data
        "500":
          description: Something went wrong on the registry's side
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - error
                  message:
                    type: string
                    minLength: 1
                required:
                  - status
                  - message
